--
-- PostgreSQL database dump
--

\restrict j4CdfVcWatLk0Nylh4ENNfJbjebyNvGi4Uo65YNbxbN9lHD4DTSWIsTqod0sOwL

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: ventasdb; Type: DATABASE; Schema: -; Owner: postgres
--

CREATE DATABASE ventasdb WITH TEMPLATE = template0 ENCODING = 'UTF8' LOCALE_PROVIDER = libc LOCALE = 'en_US.utf8';


ALTER DATABASE ventasdb OWNER TO postgres;

\unrestrict j4CdfVcWatLk0Nylh4ENNfJbjebyNvGi4Uo65YNbxbN9lHD4DTSWIsTqod0sOwL
\connect ventasdb
\restrict j4CdfVcWatLk0Nylh4ENNfJbjebyNvGi4Uo65YNbxbN9lHD4DTSWIsTqod0sOwL

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    NEW.updated_at = CURRENT_TIMESTAMP;
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: clientes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.clientes (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(100) NOT NULL,
    correo character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT clientes_correo_check CHECK (((correo)::text ~* '^[A-Za-z0-9+_.-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$'::text)),
    CONSTRAINT clientes_nombre_check CHECK ((length(TRIM(BOTH FROM nombre)) >= 2))
);


ALTER TABLE public.clientes OWNER TO postgres;

--
-- Name: TABLE clientes; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.clientes IS 'Tabla de clientes del sistema de ventas';


--
-- Name: COLUMN clientes.id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.clientes.id IS 'Identificador ├║nico del cliente (UUID)';


--
-- Name: COLUMN clientes.nombre; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.clientes.nombre IS 'Nombre completo del cliente';


--
-- Name: COLUMN clientes.correo; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.clientes.correo IS 'Correo electr├│nico ├║nico del cliente';


--
-- Name: lineas_venta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.lineas_venta (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    venta_id uuid NOT NULL,
    producto_id uuid NOT NULL,
    cantidad integer NOT NULL,
    precio_unitario_valor numeric(12,2) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT lineas_venta_cantidad_check CHECK ((cantidad > 0)),
    CONSTRAINT lineas_venta_precio_unitario_valor_check CHECK ((precio_unitario_valor >= (0)::numeric))
);


ALTER TABLE public.lineas_venta OWNER TO postgres;

--
-- Name: TABLE lineas_venta; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.lineas_venta IS 'Tabla de l├¡neas de detalle de cada venta';


--
-- Name: COLUMN lineas_venta.id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lineas_venta.id IS 'Identificador ├║nico de la l├¡nea de venta (UUID)';


--
-- Name: COLUMN lineas_venta.venta_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lineas_venta.venta_id IS 'Referencia a la venta';


--
-- Name: COLUMN lineas_venta.producto_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lineas_venta.producto_id IS 'Referencia al producto vendido';


--
-- Name: COLUMN lineas_venta.cantidad; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lineas_venta.cantidad IS 'Cantidad del producto vendido';


--
-- Name: COLUMN lineas_venta.precio_unitario_valor; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.lineas_venta.precio_unitario_valor IS 'Precio unitario al momento de la venta';


--
-- Name: ventas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.ventas (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    fecha timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    cliente_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    estado character(1) DEFAULT 'P'::bpchar NOT NULL,
    CONSTRAINT ventas_estado_check CHECK ((estado = ANY (ARRAY['A'::bpchar, 'C'::bpchar, 'X'::bpchar, 'E'::bpchar])))
);


ALTER TABLE public.ventas OWNER TO postgres;

--
-- Name: TABLE ventas; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.ventas IS 'Tabla de ventas realizadas';


--
-- Name: COLUMN ventas.id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ventas.id IS 'Identificador ├║nico de la venta (UUID)';


--
-- Name: COLUMN ventas.fecha; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ventas.fecha IS 'Fecha y hora de la venta';


--
-- Name: COLUMN ventas.cliente_id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ventas.cliente_id IS 'Referencia al cliente que realiz├│ la compra';


--
-- Name: COLUMN ventas.estado; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.ventas.estado IS 'Estado de la venta: A=Activa, C=Cancelada, X=Anulada, V=Vendida';


--
-- Name: cliente_ingresos; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.cliente_ingresos AS
 SELECT c.id,
    c.nombre,
    c.correo,
    count(DISTINCT v.id) AS total_ventas,
    sum(((lv.cantidad)::numeric * lv.precio_unitario_valor)) AS total_ingresos
   FROM ((public.clientes c
     JOIN public.ventas v ON ((c.id = v.cliente_id)))
     JOIN public.lineas_venta lv ON ((v.id = lv.venta_id)))
  WHERE (v.estado = 'A'::bpchar)
  GROUP BY c.id, c.nombre, c.correo
  ORDER BY (sum(((lv.cantidad)::numeric * lv.precio_unitario_valor))) DESC;


ALTER TABLE public.cliente_ingresos OWNER TO postgres;

--
-- Name: ingresos_mensuales; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.ingresos_mensuales AS
 SELECT date_trunc('month'::text, v.fecha) AS periodo,
    EXTRACT(year FROM v.fecha) AS anio,
    EXTRACT(month FROM v.fecha) AS mes,
    count(DISTINCT v.id) AS total_ventas,
    count(DISTINCT v.cliente_id) AS total_clientes,
    sum(((lv.cantidad)::numeric * lv.precio_unitario_valor)) AS ingreso_total
   FROM (public.ventas v
     JOIN public.lineas_venta lv ON ((v.id = lv.venta_id)))
  WHERE (v.estado = 'A'::bpchar)
  GROUP BY (date_trunc('month'::text, v.fecha)), (EXTRACT(year FROM v.fecha)), (EXTRACT(month FROM v.fecha))
  ORDER BY (EXTRACT(year FROM v.fecha)) DESC, (EXTRACT(month FROM v.fecha)) DESC;


ALTER TABLE public.ingresos_mensuales OWNER TO postgres;

--
-- Name: productos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.productos (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    nombre character varying(255) NOT NULL,
    precio_valor numeric(19,2) NOT NULL,
    stock integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT productos_nombre_check CHECK ((length(TRIM(BOTH FROM nombre)) > 0)),
    CONSTRAINT productos_precio_valor_check CHECK ((precio_valor >= (0)::numeric)),
    CONSTRAINT productos_stock_check CHECK ((stock >= 0))
);


ALTER TABLE public.productos OWNER TO postgres;

--
-- Name: TABLE productos; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.productos IS 'Tabla de productos disponibles para venta';


--
-- Name: COLUMN productos.id; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.productos.id IS 'Identificador ├║nico del producto (UUID)';


--
-- Name: COLUMN productos.nombre; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.productos.nombre IS 'Nombre del producto';


--
-- Name: COLUMN productos.precio_valor; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.productos.precio_valor IS 'Valor del precio del producto';


--
-- Name: COLUMN productos.stock; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.productos.stock IS 'Cantidad disponible en inventario';


--
-- Name: top_productos_vendidos; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.top_productos_vendidos AS
 SELECT p.id,
    p.nombre,
    sum(lv.cantidad) AS total_vendido,
    sum(((lv.cantidad)::numeric * p.precio_valor)) AS total_ingresos
   FROM ((public.productos p
     JOIN public.lineas_venta lv ON ((p.id = lv.producto_id)))
     JOIN public.ventas v ON ((v.id = lv.venta_id)))
  WHERE (v.estado = 'A'::bpchar)
  GROUP BY p.id, p.nombre
  ORDER BY (sum(lv.cantidad)) DESC;


ALTER TABLE public.top_productos_vendidos OWNER TO postgres;

--
-- Data for Name: clientes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: lineas_venta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: productos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: ventas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: clientes clientes_correo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_correo_key UNIQUE (correo);


--
-- Name: clientes clientes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.clientes
    ADD CONSTRAINT clientes_pkey PRIMARY KEY (id);


--
-- Name: lineas_venta lineas_venta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineas_venta
    ADD CONSTRAINT lineas_venta_pkey PRIMARY KEY (id);


--
-- Name: productos productos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.productos
    ADD CONSTRAINT productos_pkey PRIMARY KEY (id);


--
-- Name: ventas ventas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_pkey PRIMARY KEY (id);


--
-- Name: idx_clientes_correo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clientes_correo ON public.clientes USING btree (correo);


--
-- Name: idx_clientes_nombre; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_clientes_nombre ON public.clientes USING btree (nombre);


--
-- Name: idx_lineas_venta_producto_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lineas_venta_producto_id ON public.lineas_venta USING btree (producto_id);


--
-- Name: idx_lineas_venta_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX idx_lineas_venta_unique ON public.lineas_venta USING btree (venta_id, producto_id);


--
-- Name: idx_lineas_venta_venta_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_lineas_venta_venta_id ON public.lineas_venta USING btree (venta_id);


--
-- Name: idx_productos_nombre; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_productos_nombre ON public.productos USING btree (nombre);


--
-- Name: idx_productos_stock; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_productos_stock ON public.productos USING btree (stock);


--
-- Name: idx_ventas_cliente_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_cliente_id ON public.ventas USING btree (cliente_id);


--
-- Name: idx_ventas_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_estado ON public.ventas USING btree (estado);


--
-- Name: idx_ventas_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_ventas_fecha ON public.ventas USING btree (fecha);


--
-- Name: clientes update_clientes_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_clientes_updated_at BEFORE UPDATE ON public.clientes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: productos update_productos_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_productos_updated_at BEFORE UPDATE ON public.productos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: ventas update_ventas_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_ventas_updated_at BEFORE UPDATE ON public.ventas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: lineas_venta lineas_venta_producto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineas_venta
    ADD CONSTRAINT lineas_venta_producto_id_fkey FOREIGN KEY (producto_id) REFERENCES public.productos(id) ON DELETE RESTRICT;


--
-- Name: lineas_venta lineas_venta_venta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.lineas_venta
    ADD CONSTRAINT lineas_venta_venta_id_fkey FOREIGN KEY (venta_id) REFERENCES public.ventas(id) ON DELETE CASCADE;


--
-- Name: ventas ventas_cliente_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.ventas
    ADD CONSTRAINT ventas_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict j4CdfVcWatLk0Nylh4ENNfJbjebyNvGi4Uo65YNbxbN9lHD4DTSWIsTqod0sOwL

